@import "deps";
@import "reset";
@import "fonts";


html, body {
  height: 100%;
}

body {
  //overflow-x: hidden;
  overflow: hidden;
  color: $text-color;
  @include font_default;
  line-height: 1;
}

#app-page {
  overflow: hidden;
  min-height: 100vh;
  background-color: $dark-gray;
  @include for-tablet-landscape-up() {
    display: flex;
  }
}

#app-content {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  @include for-tablet-landscape-up() {
    flex-grow: 1;
    flex-basis: 0;
  }
}

#app-header {
  display: flex;
  flex-direction: column;
  background-color: $black;
  width: 100%;
}

#app-main {
  box-sizing: border-box;
  //padding-top: $grid-gutter-width * 2;
  //padding-bottom: $grid-gutter-width * 2;
  //
  //@include for-phone-only() {
  //  padding-top: $grid-gutter-width;
  //  padding-bottom: $grid-gutter-width;
  //}
}

.container {
  width: 100%;
  max-width: $grid-max-width;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @include for-tablet-portrait-up() {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}
