//=======================
// Точки для media-queries
//=======================
$media-big-desktop: 1800px;
$media-desktop: 1200px;
$media-tablet-landscape: 900px;
$media-tablet-portrait: 600px;

//=======================
// Grid
//=======================
$grid-max-width: 1100px;
$grid-gutter-width: 50px;

//=======================
// Цвета
//=======================
$white: #fff;
$light-gray: #2f2c2c;
$gray: #cecece;
$dark-gray: #292626;
$black: #000;
$green: #71ffb0;
$red: #E94444;

$text-color: #333;
